.dashboard .main-container {
  padding: 20px;
}

.dashboard .main-container form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.dashboard .main-container form * {
  display: inline-block;
}

.adminDash .btn-container {
  text-align: center;
  padding: 20px 0;
}
